-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: rch_portal
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `anc`
--

DROP TABLE IF EXISTS `anc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `anc` (
  `anc_id` varchar(50) NOT NULL,
  `pregnant_woman_id` int NOT NULL,
  `anc_number` int NOT NULL,
  `anc_date` date NOT NULL,
  `abortion` tinyint(1) NOT NULL,
  `abortion_reason` varchar(255) DEFAULT NULL,
  `weight` decimal(5,2) NOT NULL,
  `blood_pressure` varchar(20) NOT NULL,
  `urine_test_result` varchar(255) NOT NULL,
  `blood_test_result` varchar(255) NOT NULL,
  `hiv_test_result` enum('positive','negative') DEFAULT NULL,
  `hbsag_test_result` enum('positive','negative') DEFAULT NULL,
  `syphilis_test_result` enum('positive','negative') DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`anc_id`),
  UNIQUE KEY `pregnant_woman_id` (`anc_number`),
  KEY `anc_ibfk_1` (`pregnant_woman_id`),
  CONSTRAINT `anc_ibfk_1` FOREIGN KEY (`pregnant_woman_id`) REFERENCES `pregnant_women` (`pregnant_woman_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `anc`
--

LOCK TABLES `anc` WRITE;
/*!40000 ALTER TABLE `anc` DISABLE KEYS */;
/*!40000 ALTER TABLE `anc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asha`
--

DROP TABLE IF EXISTS `asha`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asha` (
  `asha_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `phone_no` varchar(20) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `village_id` int NOT NULL,
  PRIMARY KEY (`asha_id`),
  KEY `village_id` (`village_id`),
  CONSTRAINT `asha_ibfk_1` FOREIGN KEY (`village_id`) REFERENCES `village` (`village_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asha`
--

LOCK TABLES `asha` WRITE;
/*!40000 ALTER TABLE `asha` DISABLE KEYS */;
/*!40000 ALTER TABLE `asha` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `delivery`
--

DROP TABLE IF EXISTS `delivery`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `delivery` (
  `delivery_id` int NOT NULL AUTO_INCREMENT,
  `pregnant_woman_id` int NOT NULL,
  `place_of_delivery` enum('hospital','home','other') NOT NULL,
  `location_of_delivery` varchar(255) NOT NULL,
  `delivery_complication` tinyint(1) NOT NULL,
  `delivery_complication_details` varchar(255) DEFAULT NULL,
  `number_of_children_born` int NOT NULL,
  `live_birth_count` int NOT NULL,
  `still_birth_count` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`delivery_id`),
  KEY `delivery_ibfk_1` (`pregnant_woman_id`),
  CONSTRAINT `delivery_ibfk_1` FOREIGN KEY (`pregnant_woman_id`) REFERENCES `pregnant_women` (`pregnant_woman_id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `delivery`
--

LOCK TABLES `delivery` WRITE;
/*!40000 ALTER TABLE `delivery` DISABLE KEYS */;
/*!40000 ALTER TABLE `delivery` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ec_visit`
--

DROP TABLE IF EXISTS `ec_visit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ec_visit` (
  `visit_id` int NOT NULL AUTO_INCREMENT,
  `mother_id` int DEFAULT NULL,
  `visit_date` date NOT NULL,
  `family_planning_method` tinyint(1) NOT NULL,
  `method_used` enum('condom','pills','copper_t','iud','others') DEFAULT NULL,
  `period_missed` tinyint(1) NOT NULL,
  `pregnancy` tinyint(1) NOT NULL,
  PRIMARY KEY (`visit_id`),
  KEY `ec_visit_ibfk_1` (`mother_id`),
  CONSTRAINT `ec_visit_ibfk_1` FOREIGN KEY (`mother_id`) REFERENCES `eligible_couple` (`mother_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ec_visit`
--

LOCK TABLES `ec_visit` WRITE;
/*!40000 ALTER TABLE `ec_visit` DISABLE KEYS */;
INSERT INTO `ec_visit` VALUES (1,3,'2025-11-01',0,NULL,0,0),(2,4,'2025-11-01',1,'copper_t',1,1),(3,6,'2025-11-02',0,NULL,0,0),(6,7,'2025-11-02',0,NULL,0,1),(7,8,'2025-11-03',0,NULL,0,0),(8,8,'2025-11-03',0,NULL,0,1);
/*!40000 ALTER TABLE `ec_visit` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `eligible_couple`
--

DROP TABLE IF EXISTS `eligible_couple`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `eligible_couple` (
  `mother_id` int NOT NULL AUTO_INCREMENT,
  `mother_name` varchar(255) NOT NULL,
  `father_name` varchar(255) NOT NULL,
  `phone_no` varchar(20) NOT NULL,
  `aadhaar_id` varchar(20) DEFAULT NULL,
  `account_number` varchar(50) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `branch_name` varchar(255) DEFAULT NULL,
  `ifsc_code` varchar(20) DEFAULT NULL,
  `occupation_mother` varchar(255) DEFAULT NULL,
  `occupation_father` varchar(255) DEFAULT NULL,
  `dob_mother` date NOT NULL,
  `dob_father` date NOT NULL,
  `date_of_registration` date NOT NULL,
  `asha_id` int NOT NULL,
  PRIMARY KEY (`mother_id`),
  KEY `asha_id` (`asha_id`),
  CONSTRAINT `eligible_couple_ibfk_1` FOREIGN KEY (`asha_id`) REFERENCES `asha` (`asha_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `eligible_couple`
--

LOCK TABLES `eligible_couple` WRITE;
/*!40000 ALTER TABLE `eligible_couple` DISABLE KEYS */;
/*!40000 ALTER TABLE `eligible_couple` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `health_worker`
--

DROP TABLE IF EXISTS `health_worker`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `health_worker` (
  `health_worker_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `phone_no` varchar(20) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `supervisor_id` int NOT NULL,
  PRIMARY KEY (`health_worker_id`),
  KEY `supervisor_id` (`supervisor_id`),
  CONSTRAINT `health_worker_ibfk_1` FOREIGN KEY (`supervisor_id`) REFERENCES `supervisor` (`supervisor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `health_worker`
--

LOCK TABLES `health_worker` WRITE;
/*!40000 ALTER TABLE `health_worker` DISABLE KEYS */;
INSERT INTO `health_worker` VALUES (1,'health_worker1','1111111111','health_worker1',1),(2,'health_worker2','2222222222','health_worker2',1),(3,'health_worker3','3333333333','health_worker3',2),(4,'health_worker4','4444444444','health_worker4',2);
/*!40000 ALTER TABLE `health_worker` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `immunization`
--

DROP TABLE IF EXISTS `immunization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `immunization` (
  `immunization_id` int NOT NULL AUTO_INCREMENT,
  `infant_id` int NOT NULL,
  `vaccine_name` varchar(100) NOT NULL,
  `scheduled_date` date NOT NULL,
  `actual_date_given` date NOT NULL,
  `status` enum('pending','given','missed') NOT NULL,
  `remarks` varchar(255) DEFAULT NULL,
  `dose_number` int NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`immunization_id`),
  UNIQUE KEY `infant_vaccine_unique` (`infant_id`,`vaccine_name`),
  CONSTRAINT `immunization_ibfk_1` FOREIGN KEY (`infant_id`) REFERENCES `infant` (`infant_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `immunization`
--

LOCK TABLES `immunization` WRITE;
/*!40000 ALTER TABLE `immunization` DISABLE KEYS */;
/*!40000 ALTER TABLE `immunization` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `infant`
--

DROP TABLE IF EXISTS `infant`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `infant` (
  `infant_id` int NOT NULL AUTO_INCREMENT,
  `pregnant_woman_id` int NOT NULL,
  `sex` enum('male','female') NOT NULL,
  `weight_at_birth` decimal(5,2) NOT NULL,
  `head_circumference` decimal(5,2) NOT NULL,
  `cried_after_birth` tinyint(1) NOT NULL,
  `yellow_milk_given` tinyint(1) NOT NULL,
  `yellow_milk_not_given_reason` varchar(255) DEFAULT NULL,
  `opv_0` date NOT NULL,
  `bcg_0` date NOT NULL,
  `hepb_0` date NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`infant_id`),
  KEY `infant_ibfk_1` (`pregnant_woman_id`),
  CONSTRAINT `infant_ibfk_1` FOREIGN KEY (`pregnant_woman_id`) REFERENCES `pregnant_women` (`pregnant_woman_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `infant`
--

LOCK TABLES `infant` WRITE;
/*!40000 ALTER TABLE `infant` DISABLE KEYS */;
/*!40000 ALTER TABLE `infant` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pnc`
--

DROP TABLE IF EXISTS `pnc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pnc` (
  `pnc_id` varchar(50) NOT NULL,
  `pregnant_woman_id` int NOT NULL,
  `pnc_number` int NOT NULL,
  `pnc_date` date NOT NULL,
  `complications` tinyint(1) NOT NULL,
  `complication_details` varchar(255) DEFAULT NULL,
  `mother_weight` decimal(5,2) NOT NULL,
  `mother_death` tinyint(1) NOT NULL,
  `mother_death_details` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`pnc_id`),
  UNIQUE KEY `pregnant_woman_id` (`pnc_number`),
  KEY `pnc_ibfk_1` (`pregnant_woman_id`),
  CONSTRAINT `pnc_ibfk_1` FOREIGN KEY (`pregnant_woman_id`) REFERENCES `pregnant_women` (`pregnant_woman_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pnc`
--

LOCK TABLES `pnc` WRITE;
/*!40000 ALTER TABLE `pnc` DISABLE KEYS */;
/*!40000 ALTER TABLE `pnc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pregnant_women`
--

DROP TABLE IF EXISTS `pregnant_women`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pregnant_women` (
  `pregnant_woman_id` int NOT NULL AUTO_INCREMENT,
  `mother_id` int DEFAULT NULL,
  `weight` decimal(5,2) NOT NULL,
  `height` decimal(5,2) NOT NULL,
  `lmp_date` date NOT NULL,
  `edd_date` date NOT NULL,
  `blood_group` enum('A+','A-','B+','B-','O+','O-','AB+','AB-') NOT NULL,
  `past_illnesses` json DEFAULT NULL,
  `total_no_of_pregnancies` int NOT NULL,
  `expected_delivery_place` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`pregnant_woman_id`),
  KEY `pregnant_women_ibfk_1` (`mother_id`),
  CONSTRAINT `pregnant_women_ibfk_1` FOREIGN KEY (`mother_id`) REFERENCES `eligible_couple` (`mother_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pregnant_women`
--

LOCK TABLES `pregnant_women` WRITE;
/*!40000 ALTER TABLE `pregnant_women` DISABLE KEYS */;
/*!40000 ALTER TABLE `pregnant_women` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `supervisor`
--

DROP TABLE IF EXISTS `supervisor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `supervisor` (
  `supervisor_id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `phone_no` varchar(20) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`supervisor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `supervisor`
--

LOCK TABLES `supervisor` WRITE;
/*!40000 ALTER TABLE `supervisor` DISABLE KEYS */;
INSERT INTO `supervisor` VALUES (1,'supervisor1','1234567890','supervisor1'),(2,'supervisor2','0987654321','supervisor2');
/*!40000 ALTER TABLE `supervisor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `user_id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('asha','health_worker','supervisor','admin') NOT NULL,
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `village`
--

DROP TABLE IF EXISTS `village`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `village` (
  `village_id` int NOT NULL AUTO_INCREMENT,
  `village_name` varchar(255) NOT NULL,
  `health_worker_id` int NOT NULL,
  PRIMARY KEY (`village_id`),
  KEY `health_worker_id` (`health_worker_id`),
  CONSTRAINT `village_ibfk_1` FOREIGN KEY (`health_worker_id`) REFERENCES `health_worker` (`health_worker_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `village`
--

LOCK TABLES `village` WRITE;
/*!40000 ALTER TABLE `village` DISABLE KEYS */;
INSERT INTO `village` VALUES (1,'village1',1),(2,'village2',1),(3,'village3',2),(4,'village4',2),(5,'village5',3),(6,'village6',3),(7,'village7',4),(8,'village8',4);
/*!40000 ALTER TABLE `village` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-03 10:23:05
